<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">All Definitions</div>
          <div class="pull-right">
            <a routerLink="/control/definitions/edit/112321312-123123123-123" class="btn btn-orange btn-sm">Create Definition</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table style="margin-top: 20px" class="table table-striped" [mfData]="definitions" #mf="mfDataTable"
               [mfRowsOnPage]="10" >
          <thead>
          <tr>
            <th style="width:1%">Action
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="description">Description</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="target">Target</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="creator">Creator</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="definition">Definition</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody class="bigTable">
          <tr *ngFor="let item of mf.data">
            <td style="padding-right: 0px">
              <a class="btn btn-xs btn-orange" type="button"
                 routerLink="/control/definitions/edit/{{item.id}}"><i class="fa fa-search"></i></a>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td><a routerLink="/control/targets/edit/{{item.target?.id}}">{{item.target?.name}}</a></td>
            <td><a routerLink="/control/user/show/{{item.creator?.id}}">{{item.creator?.name}}</a></td>
            <td>{{item.definition|json}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,100]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
