<div class="row" *ngIf="target != null">
  <div class="col-sm-1" [hidden]="!configsAvailable">
    <div class="panel panel-default chartJs" style="width: auto;">
      <!-- Button to trigger opening modal -->
      <button type="button" class="btn btn-primary" id="openModalButton" data-toggle="modal" data-target="#configModal">Available Configurations</button>
    </div>
  </div>

  <div class="col-sm-12 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">{{pageTitle}}</div>
          <div class="pull-right">
            <div *ngIf="hasChanges()" (click)="revertChanges()" class="btn btn-sm btn-default"><i
              class="fa fa-recycle"></i> Revert Changes
            </div>
            <div *ngIf="hasChanges() && !hasErrors()" (click)="saveChanges()" class="btn btn-sm btn-orange"><i
              class="fa fa-send"></i> {{saveButtonLabel}}
            </div>
            <div *ngIf="hasChanges() && hasErrors()" class="btn btn-sm btn-danger"><i
              class="fa fa-close"></i> Data Error
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" style="padding-top: 20px">
        <div class="row">
          <labeled-input name="Target System Name" [model]="target" key="name"></labeled-input>
          <labeled-input name="Target Description" [model]="target" key="description"></labeled-input>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">Primary Data Provider</div>
        </div>
      </div>
      <div class="panel-body" style="padding-top: 20px">
        <div class="row">
          <labeled-input-select name="Type" [model]="target.primaryDataProvider" key="type" [colSize]="12"
                                [options]="[{key:'http_request',label:'HTTP Request'},
                                {key:'mqtt_listener',label:'MQTT Listener'},
                                {key:'kafka_consumer',label:'Kafka Consumer'}]"></labeled-input-select>
        </div>

        <div class="row" *ngIf="target.primaryDataProvider.type == 'http_request'">
          <labeled-input name="URL" [model]="target.primaryDataProvider" key="url" [colSize]="6"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.primaryDataProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>

        <div class="row" *ngIf="target.primaryDataProvider.type == 'mqtt_listener'">
          <labeled-input name="Host" [model]="target.primaryDataProvider" key="host"></labeled-input>
          <labeled-input name="Port" [model]="target.primaryDataProvider" key="port" inputType="number"
                         [minNumber]="1" [maxNumber]="65535"></labeled-input>
          <labeled-input name="Topic" [model]="target.primaryDataProvider" key="topic"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.primaryDataProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>

        <div class="row" *ngIf="target.primaryDataProvider.type == 'kafka_consumer'">
          <labeled-input name="Kafka URI" [model]="target.primaryDataProvider" key="kafka_uri"
                         [colSize]="12"></labeled-input>
          <labeled-input name="Topic" [model]="target.primaryDataProvider" key="topic"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.primaryDataProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">Change Provider</div>
        </div>
      </div>
      <div class="panel-body" style="padding-top: 20px">
        <div class="row">
          <labeled-input-select name="Strategy" [model]="target.changeProvider" key="type" [colSize]="12"
                                [options]="[{key:'http_request',label:'HTTP Request'},
                                {key:'mqtt_publisher',label:'MQTT Publish'},
                                 {key:'kafka_producer',label:'Kafka Producer'}]"></labeled-input-select>
        </div>

        <div class="row" *ngIf="target.changeProvider.type == 'http_request'">
          <labeled-input name="URL" [model]="target.changeProvider" key="url" [colSize]="6"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.changeProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>
        <div class="row" *ngIf="target.changeProvider.type == 'mqtt_publisher'">
          <labeled-input name="Host" [model]="target.changeProvider" key="host"></labeled-input>
          <labeled-input name="Port" [model]="target.changeProvider" key="port" inputType="number"
                         [minNumber]="1" [maxNumber]="65535"></labeled-input>
          <labeled-input name="Topic" [model]="target.changeProvider" key="topic"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.changeProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>

        <div class="row" *ngIf="target.changeProvider.type == 'kafka_producer'">
          <labeled-input name="Kafka URI" [model]="target.changeProvider" key="kafka_uri"
                         [colSize]="12"></labeled-input>
          <labeled-input name="Topic" [model]="target.changeProvider" key="topic"></labeled-input>
          <labeled-input-select name="Serializer" [model]="target.changeProvider" key="serializer" [colSize]="6"
                                [options]="[{key:'JSON',label:'JSON'}]"></labeled-input-select>
        </div>


        <!-- add selection for all input and output variables here -->


      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">Incoming Data Types</div>
          <div class="pull-right">
            <div (click)="addIncomingDataType()" class="btn btn-xs btn-orange"><i class="fa fa-plus push-5-r"></i> Add
            </div>
          </div>

        </div>
      </div>
      <div class="panel-body" style="padding-top: 20px">
        <div class="row" *ngFor="let input of target.incomingDataTypes; let i = index">
          <labeled-input name="Name" [model]="input" key="name" [colSize]="6"></labeled-input>
          <div class="col-md-1 pull-right" style="margin-top: 56px;color: #ef705d">
            <a (click)="removeIncoming(i)">
              <i class="fa fa-remove"></i>
            </a>
          </div>
          <labeled-input name="Description" [model]="input" key="description" [colSize]="12"></labeled-input>
          <labeled-input-select name="Scale" [model]="input" key="scale" [colSize]="5"
                                [options]="[{key:'ORDINAL',label:'Ordinal'},
                                {key:'METRIC',label:'Metric'},
                                {key:'NOMINAL',label:'Nominal'}]"></labeled-input-select>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default chartJs">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">Changeable Variables</div>
          <div class="pull-right">
            <div (click)="addChangeableVariable(null)" class="btn btn-xs btn-orange"><i class="fa fa-plus push-5-r"></i> Add
            </div>
          </div>

        </div>
      </div>
      <div class="panel-body" style="padding-top: 20px">
        <div class="row" *ngFor="let input of target.changeableVariable; let i = index">
          <labeled-input name="Name" [model]="input" key="name" [colSize]="6"></labeled-input>
          <div class="col-md-1 pull-right" style="margin-top: 56px;color: #ef705d">
            <a (click)="removeChangeableVariable(i)">
              <i class="fa fa-remove"></i>
            </a>
          </div>
          <labeled-input name="Description" [model]="input" key="description" [colSize]="12"></labeled-input>
          <labeled-input name="Minimum Value" inputType="number" [model]="input" key="min" [colSize]="6"></labeled-input>
          <labeled-input name="Maximum Value" inputType="number" [model]="input" key="max" [colSize]="6"></labeled-input>
          <labeled-input-select name="Scale" [model]="input" key="scale" [colSize]="5"
                                [options]="[{key:'ORDINAL',label:'Ordinal'},
                                {key:'METRIC',label:'Metric'},
                                {key:'NOMINAL',label:'Nominal'}]">
          </labeled-input-select>
          <hr class="col-md-12">
        </div>
      </div>
    </div>
  </div>

  <!-- Config Modal Large-->

  <div class="modal fade bd-example-modal-lg" id="configModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="col-md-12">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle">Available Configurations</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="form-control" required (change)="configDropdownChanged($event.target.value)">
              <option disabled>Select a configuration</option>
              <option *ngFor="let i of availableConfigurations;" [ngValue]="i">{{ i.name }}</option>
            </select>

            <div *ngIf="selectedConfiguration !== undefined">
              <div class="table-responsive">
                <table style="margin-top: 5px" class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Changeable Variable Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody class="bigTable">
                    <tr *ngFor="let knob of selectedConfiguration.knobs; let i = index;">
                      <td>{{knob.name}}</td>
                      <td>{{knob.description}}</td>
                      <!--<td> <label><input type="checkbox" value="{{i}}"></label></td>-->
                      <td>
                        <div class="btn btn-xs btn-orange" (click)="addChangeableVariable(knob)">
                          <i class="fa fa-plus push-5-r"></i> Add
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="useConfiguration()">Use Configuration</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <debug-element [element]="target"></debug-element>
</div>
